.main {
    min-height: 100vh;
    background: linear-gradient(to right, #0D0907,#632de9);
    font-family: 'Funnel Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 80px; /* sobe tudo um pouco */
    gap: 24px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 300px;
    height: auto;
}

.title {
    font-family: 'Funnel Display', sans-serif;
    font-size: clamp(2.6rem, 5vw, 4.5rem);

    background: linear-gradient(90deg, #CBA2FF, #67FFE3);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    line-height: 1;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.inputHolder, .inputCustom {
    width: 500px;
    height: 50px;
    border-radius: 20px;
}

.inputHolder::placeholder {
    padding-left: 20px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Funnel Display', sans-serif;
}

.inputCustom::placeholder {
    padding-left: 20px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Funnel Display', sans-serif;
}

.encurtarUrl {
    width: 400px;
    height: 60px;
    font-family: 'Funnel Display', sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #B397FF;
    border-radius: 20px;

    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.encurtarUrl:hover{
    cursor: pointer;
    color: #F9FAFB;
    background-color: #5a52d5;
    transform: translateY(-2px) scale(1.03);
}

.encurtarUrl:active {
    transform: translateY(0) scale(0.98);
}

#resultado {
    color: #F9FAFB;
    font-size: 32px;
    font-weight: 200;
}

#resultado a {
    color: #67FFE3;
    font-weight: 800;
}